# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/

# Testing
.pytest_cache/
*.json-report
htmlcov/
.coverage

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# uv
uv.lock
