export(BridgeTransport)
export(HttpTransport)
export(RestTransport)
export(MemoryClient)
export(ShortTermMemory)
export(LongTermMemory)
export(ReasoningMemory)
export(QueryConsole)
export(AuthClient)

export(snake_to_camel)
export(camel_to_snake)

export(parse_message)
export(parse_conversation)
export(parse_session_info)
export(parse_observation)
export(parse_reflection)
export(parse_context)
export(parse_entity)
export(parse_entity_history)
export(parse_preference)
export(parse_fact)
export(parse_relationship)
export(parse_trace)
export(parse_step)
export(parse_agent_step)
export(parse_agent_step_explanation)
export(parse_tool_call)
export(parse_tool_stats)

export(mcp_tools)
export(mcp_dispatch)
export(register_memory_tools)

import(R6)
importFrom(httr2, request)
importFrom(httr2, req_method)
importFrom(httr2, req_body_json)
importFrom(httr2, req_headers)
importFrom(httr2, req_timeout)
importFrom(httr2, req_perform)
importFrom(httr2, req_error)
importFrom(httr2, resp_status)
importFrom(httr2, resp_body_json)
importFrom(httr2, resp_body_string)
importFrom(jsonlite, toJSON)
importFrom(jsonlite, fromJSON)
importFrom(utils, URLencode)
