export(HttpTransport)
export(MemoryClient)
export(ShortTermMemory)
export(LongTermMemory)
export(ReasoningMemory)

export(parse_message)
export(parse_conversation)
export(parse_session_info)
export(parse_entity)
export(parse_preference)
export(parse_fact)
export(parse_relationship)
export(parse_trace)
export(parse_step)
export(parse_tool_call)
export(parse_tool_stats)

import(R6)
importFrom(httr2, request)
importFrom(httr2, req_method)
importFrom(httr2, req_body_json)
importFrom(httr2, req_headers)
importFrom(httr2, req_timeout)
importFrom(httr2, req_perform)
importFrom(httr2, resp_status)
importFrom(httr2, resp_body_json)
importFrom(httr2, resp_body_string)
importFrom(jsonlite, toJSON)
importFrom(jsonlite, fromJSON)
